tr {
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  padding-left: 8px;
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.own-profile {
  background-color: rgba(blue, 0.1);
}
.connection-profile {
  background-color: red;
}
.blocked-profile {
  background-color: red;
}
.new-profile {
  background-color: red;
}
