<div class="flex-row gap-8px overflow-auto">
  <div class="left-panel panel-border flex-column gap-8px overflow-auto">
    <img [src]="(profile$ | async)?.avatar" alt="" />
  </div>

  <div class="content-panel flex-grow">
    <div class="panel-border flex-column gap-32px">
      <app-profile-form
        [formGroup]="formGroup"
        (submit)="updateProfile()"
      ></app-profile-form>

      <div class="flex-row gap-32px justify-end">
        <button
          type="submit"
          class="button primary block"
          [disabled]="loading$ | async"
        >
          {{ (loading$ | async) ? "Aguarde..." : "Salvar" }}
        </button>
      </div>
    </div>
  </div>

  <div class="right-panel flex-column gap-8px overflow-auto">
    <div class="panel-border">
      <h2>My friends</h2>
      <input type="text" placeholder="Search friends" />
      <app-friend-list />
    </div>
    <div class="panel-border">
      <h2>My communities</h2>
      <input type="text" placeholder="Search communities" />
      <app-community-list />
    </div>
  </div>
</div>
