.app-wrapper {
  height: 100vh;
}

.header {
  padding: 0px 4px;
  background-color: #719dd1;

  h1 {
    color: #e4258b;
    background-color: white;
    display: inline-block;
    padding: 0px 8px;

    a {
      padding: 0;
    }
  }
}

.content-container {
  background-color: #d4e8fc;
  padding: 16px;
}

.width-control-container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
}
