<div class="app-wrapper flex-column">
  <div class="header">
    <div class="width-control-container flex-row gap-32px align-center">
      <h1><a [routerLink]="'/'">0rkut</a></h1>

      <a [routerLink]="'/auth'">login</a>
      <a [routerLink]="'/logout'">logout</a>
      <a [routerLink]="'/account'">account</a>
      <a [routerLink]="'/community/add'">+ community</a>
    </div>
  </div>
  <div class="content-container flex-grow overflow-auto">
    <div class="width-control-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="header">
    <div
      class="width-control-container flex-row gap-32px align-center justify-center"
    >
      Este é um experimento sobre rede social focada em comunidades e não em
      individuos. Os conteúdos aqui disponibilizados são de repsonsabilidade do
      usuário que os insere.
    </div>
  </div>
</div>
