<div class="app-wrapper flex-column">
  <!-- HEADER -->
  <div class="header">
    <div
      class="width-control-container flex-row gap-8px justify-space-between align-center"
    >
      <a routerLink="/"
        ><h1>{{ appName }}</h1></a
      >
      <ng-container *ngIf="user$ | async as user; else notLoggedButton">
        <div class="flex-row gap-24px">
          <a [routerLink]="['/account']" routerLinkActive="active-header-link">
            Account
          </a>
          <a [routerLink]="['/logout']">Logout</a>
        </div>
      </ng-container>
      <ng-template #notLoggedButton>
        <div><button (click)="goToLogin()">Login</button></div>
      </ng-template>
    </div>
  </div>

  <div class="content-container grow overflow-auto">
    <div
      class="content-panel width-control-container flex-row gap-8px overflow-auto"
    >
      <!-- LEFT PANEL -->
      <div
        *ngIf="!hideLeftPanel"
        class="panel left-panel panel-border flex-column gap-8px overflow-auto"
      >
        <a [routerLink]="['/account']">
          <img [src]="(user$ | async)?.picture" alt="" />
        </a>

        <app-left-nav-menu></app-left-nav-menu>
      </div>

      <!-- MIDLE PANEL -->
      <div *ngIf="!hideMidlePanel" class="panel midle-panel grow panel-border">
        <ng-content></ng-content>
      </div>

      <!-- RIGHT PANEL -->
      <div
        *ngIf="!hideRightPanel"
        class="panel right-panel flex-column gap-8px overflow-auto"
      >
        <div class="panel-border">
          <h2>My friends</h2>
          <input type="text" placeholder="Search friends" />
          <app-friend-list />
        </div>
        <div class="panel-border">
          <h2>My communities</h2>
          <input type="text" placeholder="Search communities" />
          <app-community-list />
        </div>
      </div>
    </div>
  </div>
</div>
