<div class="app-wrapper flex-column">
  <div class="header">
    <div class="width-control-container">
      <h1>0rkut</h1>
    </div>
  </div>
  <div class="content-container flex-grow overflow-auto">
    <div class="width-control-container flex-row gap-8px overflow-auto">
      <div class="left-panel panel-border flex-column gap-8px overflow-auto">
        <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcSUPobOTWGGkexkI3nf8u8LFP65DSHycLqi52PJLG0IDhOHSHHPSs1iJUW09LLdUcQiKnoF93mTYz7tDaQ" alt="">
        menu
      </div>
      <div class="content-panel flex-grow">
        <div class="panel-border">
          <h1>Welcome, Einstain</h1>
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="right-panel flex-column gap-8px overflow-auto">
        <div class="panel-border">
          <h2>My friends</h2>
          <input type="text" placeholder="Search friends">
          <app-friend-list />
        </div>
        <div class="panel-border">
          <h2>My communities</h2>
          <input type="text" placeholder="Search communities">
          <app-community-list />
        </div>
      </div>
    </div>
  </div>
</div>
