.app-wrapper {
  height: 100vh;
}

.header {
  padding: 0px 4px;
  background-color: #719dd1;

  h1 {
    color: #e4258b;
    background-color: white;
    display: inline-block;
    padding: 0px 8px;

    a {
      padding: 0;
    }
  }
}

.footer {
  padding: 0px 4px;
  background-color: #719dd1;
}

.content-container {
  background-color: #d4e8fc;
  padding: 16px;
}

.width-control-container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
}

.panel-border {
  border-radius: 6px;
  background-color: white;
  padding: 8px;
}

.left-panel {
  width: 256px;

  img {
    object-fit: cover;
    max-height: 256px;
    width: 100%;
    display: block;
  }
}

.right-panel {
  width: 400px;
}
