.app-wrapper {
  height: 100vh;
}

.header {
  padding: 0px 4px;
  background-color: #719dd1;

  h1 {
    color: #e4258b;
    background-color: white;
    display: inline-block;
    padding: 0px 8px;
  }
}

.width-control-container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
}

.panel-border {
  border-radius: 6px;
  background-color: white;
  padding: 8px;
}

.left-panel {
  width: 256px;
  min-width: 256px;

  img {
    display: block;
    max-height: 256px;
    max-width: 256px;
    margin: 0px auto;
    border-radius: 4px;
  }
}

.content-panel {
  height: 100%;
}

.right-panel {
  width: 400px;
  min-width: 400px;
}

.header a {
  color: white;

  &.active-header-link {
    color: #e4258b;
  }
}
