<form
  [formGroup]="profileForm"
  (submit)="emitSubmit()"
  class="form-widget flex-column gap-32px"
>
  <div>
    <label for="name">Name</label>
    <input formControlName="name" id="name" type="text" />
  </div>

  <div>
    <label for="website">Website</label>
    <input formControlName="website" id="website" type="url" />
  </div>

  <div>
    <label for="website">Website</label>
    <input formControlName="website" id="website" type="url" />
  </div>

  <div>
    <label for="nick">Apelido</label>
    <input formControlName="nick" id="nick" type="url" />
  </div>

  <div class="flex-row gap-32px justify-end">
    <button type="submit" class="button primary block" [disabled]="disabled">
      {{ disabled ? "..." : "Update" }}
    </button>
  </div>
</form>
